.margin-content {
    margin-top: 150px;
}

div.header {
    background-color: #56ab91;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

div.list {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
